<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 lead">
    <div class="col" *ngFor="let bookObj of books">
        <div class="card mt-5 shadow">

            <div class="card-body">

                <div class="row bg-light">

                    <div class="col-sm-4">
                    
                        <div class="thumbnail">
                            <img src="{{bookObj.image}}" alt="">
                        </div>

                    </div>

                    <div class="col-sm-8">
                        <br>
                        <h1>{{bookObj.title}}</h1>
                        <hr>
                        <h4>Author : {{bookObj.author}}</h4>
                        <h4>Published By : {{bookObj.publisher}}</h4>
                        <h5>Price : {{bookObj.price | currency:"&#8377;"}}</h5>
                        <button class="btn btn-success">Add To Cart</button>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>