/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-attachment: fixed;
}
  
.HtAdjust {
    min-height: 100vh;
}